* {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #040303;
    color: #FFFFFF;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 1vh;
}

p {
    font-size: 1.5vw;
    text-align: center;
    margin-bottom: 4vh;
}

.icon {
    width: 7vw;
    height: 13vh;
    background-color: #008080;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.icon i {
    font-size: 50px;
    color: #FFFFFF;
}